#updatedGraph .exclude-range {
    fill: var(--color-secondary) !important;
}

#updatedGraph .grid .tick text {
    font-size: 0.9rem !important;
}

#updatedGraph .section {
    opacity: 0.3 !important;
}

#updatedGraph .section0,
#updatedGraph .section2 {
    fill: var(--color-primary) !important;
}

#updatedGraph .section1,
#updatedGraph .section3 {
    fill: transparent !important;
}