include ./pug/control_panel.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Azure DevOps Gantt (A-DOG)
        link(href="./index.css" rel="stylesheet")

    body
        #mermaidJsDiagramOutput
            div If you are seeing this message please enter valid details into the panel's #[strong Authentication] and #[strong Context] sections to get started.

        +controlPanel()

        script(src="https://cdn.jsdelivr.net/npm/requirejs@2.3.7/require.min.js")
        script(src="https://cdn.jsdelivr.net/npm/mermaid@11.6.0/dist/mermaid.min.js" integrity="sha256-OpMBanPcgrqJDZGfm7sXbz2p2YNBZQwLUX8llcxo/vg=" crossorigin="anonymous")
        script(src="./index.js")