:root {
    --dropdown-plus-height: 2px;
    --dropdown-plug-width: 18px;
}

.dropdown>label {
    background-color: var(--control-background-color);
    border: var(--control-border-width) solid var(--control-border-color);
    border-radius: var(--control-border-radius);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: var(--control-padding-y) var(--control-padding-x);
    position: relative;
}

.dropdown>label:before,
.dropdown>label:after {
    background-color: var(--page-color);
    content: "";
    display: block;
    height: var(--dropdown-plus-height);
    position: absolute;
    right: 0;
    top: 50%;
    transition: transform 0.2s ease-in;
    width: var(--dropdown-plug-width);
}

.dropdown>label:has(input[type="checkbox"]:checked):after {
    transform: rotate3d(0, 0, 1, 90deg);
}

.dropdown>label>input[type="checkbox"] {
    display: none;
}

.dropdown>.dropdownContent {
    display: none;
}

.dropdown>label:has(input[type="checkbox"]:checked)~.dropdownContent {
    display: block;
}

.dropdown>.dropdownContent>label>input[type="radio"] {
    display: none;
}

.dropdown>.dropdownContent>label {
    background-color: var(--control-background-color);
    border: var(--control-border-width) solid var(--control-border-color);
    border-top-width: 0;
    border-radius: 0 0 var(--control-border-radius) var(--control-border-radius);
    cursor: pointer;
    display: block;
    padding: var(--control-padding-y) var(--control-padding-x);
}

.dropdown>.dropdownContent>label:has(input[type="radio"]:checked) {
    background-color: var(--color-primary);
}