:root {
    --page-background-color: rgb(31, 31, 31);
    --page-color: white;
    --panel-background-color: rgb(23, 23, 23);
    --panel-border-color: rgb(43, 43, 43);
    --panel-border-radius: 8px;
    --panel-border-width: 1px;
    --panel-control-padding-x: 8px;
    --panel-control-padding-y: 6px;
    --panel-drop-shadow-x: 5px;
    --panel-drop-shadow: drop-shadow(var(--panel-drop-shadow-x) 7px var(--panel-drop-shadow-x) rgba(0, 0, 0, 0.65));
    --panel-transition-length: 0.23s;
    --panel-width: 430px;
    --panel-z-index: 100;
    --color-primary: rgb(120, 0, 212);
}

* {
    box-sizing: border-box;
}

html,
body {
    align-items: center;
    background-color: var(--page-background-color);
    color: var(--page-color);
    display: flex;
    flex: 1;
    font-family: Arial, sans-serif;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

#dependencyGraph,
#ganttDiagram {
    display: flex;
    flex: 1;
    font-size: 1.3rem;
    height: 100%;
    width: 100%;
}

.panel {
    left: 0;
    margin-top: 16px;
    opacity: 0.65;
    position: fixed;
    top: 0;
    z-index: calc(var(--panel-z-index) - 1);
}

.panel:hover {
    opacity: 0.85;
}

.panel:has(.panelToggle:checked) {
    opacity: 1.0;
}

.panelContent {
    background-color: var(--panel-background-color);
    border: var(--panel-border-width) solid var(--panel-border-color);
    border-left-width: 0;
    border-bottom-right-radius: var(--panel-border-radius);
    filter: var(--panel-drop-shadow);
    left: calc((var(--panel-width) * -1) - var(--panel-drop-shadow-x));
    padding: var(--panel-control-padding-y) var(--panel-control-padding-x);
    position: fixed;
    transition: left var(--panel-transition-length);
    width: var(--panel-width);
}

.panelContent form {
    display: flex;
    flex-direction: column;
}

.panelContent .formControl {
    align-items: center;
    display: flex;
    margin-bottom: 12px;
}

.panelContent .formControl label {
    flex: 1;
    font-weight: bold;
}

.panelContent input {
    background-color: rgb(51, 51, 51);
    border: 1px solid rgb(51, 51, 51);
    border-radius: 4px;
    color: var(--page-color);
    outline: none;
    padding: var(--panel-control-padding-y) var(--panel-control-padding-x);
    width: 210px;
}

.panelContent input:focus {
    border: 1px solid var(--color-primary);
}

.panelContent button[type="submit"] {
    align-self: flex-end;
    background-color: var(--color-primary);
    border-radius: 4px;
    border: 0;
    color: var(--page-color);
    cursor: pointer;
    font-size: 1.1rem;
    font-variant: small-caps;
    margin: 16px 0;
    padding: var(--panel-control-padding-y) var(--panel-control-padding-x);
}

.panelContent button[type="submit"]:hover {
    filter: brightness(90%);
}

.panelLabel {
    background-color: var(--panel-background-color);
    border: var(--panel-border-width) solid var(--panel-border-color);
    border-left-width: 0;
    border-radius: 0 var(--panel-border-radius) var(--panel-border-radius) 0;
    cursor: pointer;
    filter: var(--panel-drop-shadow);
    font-size: 1.3rem;
    font-variant: small-caps;
    padding: var(--panel-control-padding-y) var(--panel-control-padding-x);
    padding-left: calc(var(--panel-control-padding-x) + var(--panel-border-width));
    position: fixed;
    left: calc((var(--panel-drop-shadow-x) * -1));
    transition: left var(--panel-transition-length);
    z-index: var(--panel-z-index);
}

.panelToggle {
    display: none;
}

.panelToggle:checked+.panelLabel {
    left: calc(var(--panel-width) - var(--panel-border-width));
}

.panelToggle:checked+.panelLabel+.panelContent {
    left: 0;
}